{
	auto_https off
}

:8080 {
	root * src/main/html/webapp/dist
	encode zstd gzip

	@backend_paths {
		path /api/v2/* /downloads/* /share/* /browse/* /get/* /health /logs/* /login /users/*
	}

	handle @backend_paths {
		reverse_proxy localhost:8082
	}

	@index path / /index.htm
	rewrite @index /index.html

	@static file
	handle @static {
		file_server
	}

	handle {
		respond 404
	}

	log {
		output stdout
		format console
	}
}
